@keyframes slideIn {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideOut {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes rotate-right {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes rotate-left {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(-360deg);
	}
}

@keyframes up {
	0% {
		bottom: 0;
	}

	100% {
		top: 0;
	}
}

@keyframes show-icon {
	from {
		opacity: 0;
		top: -100px;
	}

	to {
		opacity: 1;
		top: 0;
	}
}

@keyframes hide-icon {
	from {
		// opacity: 1;
		top: 0;
	}

	to {
		// opacity: 0;
		top: 350px;
	}
}


@keyframes showWidthMenuBox {
	from {
		width: 80%;
	}
	to {
		width: 100%;
	}
}

@keyframes showFaqAnswer {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


