@use 'colors';

.header-buttons{
	z-index: 100;
}

.header-btn {
	width: 130px;
	padding: 15px;
	border: none;
	border-radius: 18px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
    cursor: pointer;
	box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}

.menu-btn {
	background: colors.$button-first;
}
.reservation-btn {
	background: colors.$button-second;
}

.menu-btn:hover {
	background: colors.$button-second;
}
.reservation-btn:hover {
	background: colors.$button-first;
}


//menu btn

.offer-btn {
	width: auto;
	padding: 5px;
	border: none;
	border-radius: 18px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
    cursor: pointer;
}

.coffee-btn {
	background: colors.$button-second;
}


//reservation btn

.form-btn {
	margin-bottom: 15px;
	font-family: 'Work Sans', sans-serif;
	background-color: colors.$brown-main;
	width: 100px;
	padding: 10px;
	margin-top: 10px;
	border: none;
	border-radius: 18px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
    cursor: pointer;
	box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.5);
}