$brown-main: #603814;
$brown-second: #9b6230;

$white-main: #e6e1e1;
$white-second: #d3d3d3;
$white-second-trans: rgba(211, 211, 211, 0.5);

$list-color: #ad825b;
$list-color-desktop: #ad825b;

$button-first: #cfa47e;
$button-second: #573517;
