.coffee-one {
	background-image: url('../img/espresso-small.jpg');
}
.coffee-two {
	background-image: url('../img/americano-small.jpg');
}
.coffee-three {
	background-image: url('../img/mocca-small.jpg');
}
.coffee-four {
	background-image: url('../img/capuchino-small.jpg');
}
.coffee-five {
	background-image: url('../img/frappe-small.jpg');
}
.coffee-six {
	background-image: url('../img/latte-small.jpg');
}

.hot-drinks-one {
	background-image: url('../img/black-small.jpg');
}
.hot-drinks-two {
	background-image: url('../img/green-small.jpg');
}
.hot-drinks-three {
	background-image: url('../img/hibiskus-small.jpg');
}
.hot-drinks-four {
	background-image: url('../img/mint-small.jpg');
}
.hot-drinks-five {
	background-image: url('../img/jasmine-small.jpg');
}
.hot-drinks-six {
	background-image: url('../img/white-small.jpg');
}

.cake-one {
	background-image: url('../img/tiramisu-small.jpg');
}
.cake-two {
	background-image: url('../img/raspberry-small.jpg');
}
.cake-three {
	background-image: url('../img/vanilla-small.jpg');
}
.cake-four {
	background-image: url('../img/skittles-small.jpg');
}
.cake-five {
	background-image: url('../img/meringue-small.jpg');
}
.cake-six {
	background-image: url('../img/chocolate-small.jpg');
}

.cupcake-one {
	background-image: url('../img/ferrero-small.jpg');
}
.cupcake-two {
	background-image: url('../img/rainbow-small.jpg');
}
.cupcake-three {
	background-image: url('../img/cherry-small.jpg');
}
.cupcake-four {
	background-image: url('../img/red-small.jpg');
}
.cupcake-five {
	background-image: url('../img/oreo-small.jpg');
}
.cupcake-six {
	background-image: url('../img/chocolatecupcake-small.jpg');
}

// @media (min-width: 768px) {
// 	.coffee-one {
// 		background-image: url('../img/espresso-big.jpg');
// 	}
// 	.coffee-two {
// 		background-image: url('../img/americano-big.jpg');
// 	}
// 	.coffee-three {
// 		background-image: url('../img/mocca-big.jpg');
// 	}
// 	.coffee-four {
// 		background-image: url('../img/capuchino-big.jpg');
// 	}
// 	.coffee-five {
// 		background-image: url('../img/frappe-big.jpg');
// 	}
// 	.coffee-six {
// 		background-image: url('../img/latte-big.jpg');
// 	}

// 	.hot-drinks-one {
// 		background-image: url('../img/black-big.jpg');
// 	}
// 	.hot-drinks-two {
// 		background-image: url('../img/green-big.jpg');
// 	}
// 	.hot-drinks-three {
// 		background-image: url('../img/hibiskus-big.jpg');
// 	}
// 	.hot-drinks-four {
// 		background-image: url('../img/mint-big.jpg');
// 	}
// 	.hot-drinks-five {
// 		background-image: url('../img/jasmine-big.jpg');
// 	}
// 	.hot-drinks-six {
// 		background-image: url('../img/white-big.jpg');
// 	}

// 	.cake-one {
// 		background-image: url('../img/tiramisu-big.jpg');
// 	}
// 	.cake-two {
// 		background-image: url('../img/raspberry-big.jpg');
// 	}
// 	.cake-three {
// 		background-image: url('../img/vanilla-big.jpg');
// 	}
// 	.cake-four {
// 		background-image: url('../img/skittles-big.jpg');
// 	}
// 	.cake-five {
// 		background-image: url('../img/meringue-big.jpg');
// 	}
// 	.cake-six {
// 		background-image: url('../img/chocolate-big.jpg');
// 	}

// 	.cupcake-one {
// 		background-image: url('../img/ferrero-big.jpg');
// 	}
// 	.cupcake-two {
// 		background-image: url('../img/rainbow-big.jpg');
// 	}
// 	.cupcake-three {
// 		background-image: url('../img/cherry-big.jpg');
// 	}
// 	.cupcake-four {
// 		background-image: url('../img/red-big.jpg');
// 	}
// 	.cupcake-five {
// 		background-image: url('../img/oreo-big.jpg');
// 	}
// 	.cupcake-six {
// 		background-image: url('../img/chocolatecupcake-big.jpg');
// 	}
// }
