@use 'colors';
@import '_buttons';
@import '_animations';
@import '_img';
// @import '_cards';
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Work Sans', sans-serif;
	font-size: 1.8rem;
}
.container {
	margin: 0 auto;
	padding: 0 1em;
	width: 100%;
	max-width: 1400px;
}
a {
	text-decoration: none;
	color: black;
}
li {
	list-style-type: none;
}

.underline {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	.bar {
		width: 60%;
	}
	.underline-beans-left {
		width: 30px;
		opacity: 0.5;
		transform: rotate(-120deg);
	}
	.underline-beans-right {
		width: 30px;
		opacity: 0.5;
		transform: rotate(50deg);
	}
}
.headline {
	padding-top: 15px;
	h2 {
		font-family: 'Kaushan Script', cursive;
		font-size: 1.5rem;
		text-transform: uppercase;
		text-align: center;
		color: colors.$brown-main;
	}
}

h1,
h2,
h3,
ul,
button {
	font-family: 'Kaushan Script', cursive;
}

//NAV
//___________BURGER___________________________________________________
.burger-button {
	background: none;
	border: none;
	padding: 5px;
	margin: 20px 20px;
	cursor: pointer;
}
.burger-icon {
	width: 30px;
	height: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.bar {
	height: 3px;
	background-color: colors.$brown-main;
	transition: transform 0.5s ease;
}
.bar-one {
	width: 100%;
}

.bar-two {
	width: 50%;
	transform-origin: right;
}

.bar-three {
	width: 25%;
	transform-origin: right;
}
.bar-two-change {
	transform: scaleX(1) translateX(100%);
}
.bar-three-change {
	transform: scaleX(1) translateX(300%);
}
//___________NAV___________________________________________________
.navbar {
	background-color: colors.$white-main;
	position: fixed;
	width: 100%;
	z-index: 9;
}
.h-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 10vh;
	img {
		display: flex;
		width: 80px;
	}
	.white-block {
		position: absolute;
		top: 10vh;
		height: 15px;
		width: 60%;
		background-color: colors.$white-main;
		bottom: 0;
		right: -50px;
		transform: skew(45deg);
	}
}
.social-media {
	display: none;
}
.list {
	background-color: colors.$list-color;
	display: flex;
	flex-direction: column;
	align-items: self-start;
	position: absolute;
	left: -100vw;

	top: 10vh;
	height: calc(100vh - 10vh);

	padding-top: 10%;
	padding-bottom: 10%;
	width: 100vw;
	transition: transform 0.9s;
	z-index: 100;
	overflow: auto;
	button {
		color: colors.$white-main;
		cursor: pointer;
		border: none;
		background-color: transparent;
	}
	a {
		color: colors.$white-main;
	}
	.item {
		font-size: 1.7rem;
		padding: 20px 0 0 25px;
		text-transform: uppercase;
	}
	.white {
		font-size: 1rem;
		color: colors.$white-second;
		text-transform: uppercase;
		li {
			padding: 12px 0 3px 35px;
		}
	}
	.dropdown {
		display: none;

		a {
			font-size: 1rem;
			color: colors.$white-second;
			text-transform: uppercase;
		}
	}
	.show-dropdown {
		display: flex;
		flex-direction: column;
		align-items: self-start;

		li {
			padding: 0 0 0 35px;
		}
	}
	.hide-dropdown {
		display: none;
	}
}
.list .item {
	position: relative;
}
.list .item::after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 325px;
	height: 2px;
	background-color: colors.$white-second;
	opacity: 0.4;
	left: 25px;
}
.active {
	transform: translateX(100%);
}
.next-to {
	width: 86%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	img {
		padding: 20px 0 0 25px;
	}
}
.show-arrow {
	display: block;
}
.hide-arrow {
	display: none;
}
.arrow {
	color: red;
}
//___________HEADER___________________________________________________
//
.content-wrapper {
	width: 100%;
	max-height: calc(100vh); //! Wysokość aby oddzielić .navbar
	display: flex;
	flex-direction: column;
	overflow: auto; //! I to musi być aby był scroll
	z-index: 1;
	// padding-top: 10vh; //! Tyle ile .navbar ma wysokość (a raczej, któryś z jego dzieci i navbar na tyle się ustawia)
}
.slides {
	position: relative;
	height: 100vh;
}
.slide {
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	opacity: 0;
	z-index: 1;
	transition: opacity 1s;
	background-size: cover;
	background-position: center;
}
.showing {
	opacity: 1;
	z-index: 2;
}
.header {
	height: 100%;
	z-index: 100;
}
.header-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	text-align: center;
	color: colors.$white-main;
	z-index: 100;
}
.header-text h1 {
	font-size: 2.7rem;
	padding-bottom: 8px;
	z-index: 100;
}
.header-text p {
	font-size: 1.4rem;
	padding-bottom: 28px;
	z-index: 100;
}
.header-shadow {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	height: 100vh;
	width: 100%;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 1;
}
.arrow-slide {
	color: colors.$white-second;
	z-index: 2;
	position: absolute;
	top: 80%;
	transition: color 1s;
}
.arrow-slide:hover {
	cursor: pointer;
	color: colors.$button-first;
}
.arrow-next {
	left: 20%;
}

.arrow-prev {
	right: 20%;
}
.slide1 {
	background-image: url('../img/header1-small.jpg');
}

.slide2 {
	background-image: url('../img/header2-small.jpg');
}

.slide3 {
	background-image: url('../img/header3-small.jpg');
}

.slide-in {
	animation: slideIn 0.9s forwards;
	opacity: 1;
}

.slide-out {
	animation: slideOut 0.9s forwards;
	opacity: 1;
}

//___________ABOUTUS___________________________________________________
//
.aboutus {
	position: relative;
	overflow: hidden;
	height: auto;
	background-color: colors.$white-second;
}

.aboutus-coffee-cup-img {
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100px;
	height: 100px;
	top: 33%;
	left: 70%;
	opacity: 0.11;
	animation: rotate-right 45s infinite linear;
}

.aboutus-box {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	p {
		padding: 10px;
		text-align: left;
		font-size: 1rem;
		color: colors.$brown-main;
		z-index: 5;
	}
	.aboutus-img {
		display: none;
	}
}

.one {
	background-image: url('/img/team-small.jpg');
}
.two {
	background-image: url('/img/opinion-small.jpg');
}
.three {
	background-image: url('/img/joinus-small.jpg');
}

//cards

.cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	background-color: none;
	padding: 30px;
}
.card {
	position: relative;
	margin: 10px 15px;
	width: 100%;
	height: 300px;
	overflow: hidden;
}

.card-img {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	transition: 0.8s;
	border-radius: 18px;
}

.card-text {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	bottom: 0;
	padding: 8px;
	position: absolute;
	text-transform: uppercase;
	background-color: rgba(36, 30, 30, 0.7);
	text-align: center;
	color: colors.$white-main;
	border-bottom-right-radius: 18px;
	border-bottom-left-radius: 18px;
	font-size: 1.3rem;
	z-index: 2;
	transition: opacity 0.6s;
}

.card-shadow {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.2);
	height: 100%;
	width: 100%;
	top: 50%;
	transform: translate(0, -50%);
	border-radius: 18px;
	transition: opacity 0.6s;
	z-index: 1;
}

.card .card-text2 {
	position: absolute;
	height: 100%;
	width: 100%;
	top: -350px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: rgb(255, 255, 255);
	background-color: rgba(173, 130, 91, 0.8);
	border-radius: 18px;
}
.card-i {
	font-size: 4.5rem;
}

.card:hover .card-text2 {
	animation: show-icon 1s forwards;
}
.hide-icon {
	animation: hide-icon 1.5s forwards;
}

.card:hover .card-shadow,
.card:hover .card-text {
	opacity: 0;
}
.card:hover .card-img {
	opacity: 0.6;
}
.card:hover .card-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
}

//MENU

.menu {
	background-color: colors.$white-second;
	padding-bottom: 20px;
}
.menu-bar-buttons {
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 10px;
	padding: 20px;
}
.menu-coffee,
.menu-hot-drinks,
.menu-cake,
.menu-cupcake {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	justify-items: center;
	gap: 20px;
}
.menu-hot-drinks,
.menu-cake,
.menu-cupcake {
	width: 100%;
	display: none;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	justify-items: center;
	gap: 20px;
}
.menu-box {
	height: 170px;
	width: 100%;
	background-color: colors.$white-main;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
	padding: 7px 7px 0 7px;
	transition: padding 0.4s;
	animation: showWidthMenuBox 1s;

	.menu-box-img {
		width: 100%;
		height: 70%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	h4 {
		margin-top: 3px;
		font-size: 1.2rem;
	}
	p {
		margin-top: 3px;
		font-size: 0.9rem;
	}
	span {
		font-size: 0.7rem;
		text-decoration: line-through;
	}
}
.menu-box:hover {
	padding: 0;
	span {
		display: none;
	}
}

.menu-hide {
	display: none;
}
.menu-show {
	display: grid;
}

//reservation
.headline {
	padding: 20px;
}
.reservation-hero-img {
	position: relative;
	width: 100%;
	// height: 100vh;
	background-position: center;
	background-size: cover;
	background-image: url('../img/coffee-interior-reservation.jpg');
	z-index: 1;
	padding-bottom: 50px;
	.reservation-hero-img-shadow {
		background-color: rgba(0, 0, 0, 0.7);
		position: absolute;
		height: 100%;
		width: 100%;
		top: 50%;
		transform: translate(0, -50%);
		z-index: -1;
	}
	.bar {
		background-color: white;
	}
	.bar-short {
		width: 50%;
	}
	h2 {
		padding: 5px 0 5px 0;
		color: white;
	}
}

.reservation-area {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 18px;
	background-color: colors.$white-main;
}

.reservation-img {
	width: 100%;
	height: 200px;
	background-position: bottom;
	background-size: cover;
	background-image: url('../img/coffe-reservation-form.jpg');
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
}

::placeholder {
	color: rgb(114, 114, 114);
}
.red-placeholder::-webkit-input-placeholder {
	color: #8b0013;
}
.reservation-column {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.form-box {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 10px;
}
.time {
	width: 100%;
	align-items: center;
	margin-bottom: 5px;
}

input,
select,
option {
	margin-top: 10px;
	width: 85%;
	background: none;
	border: none;
	padding: 5px;
	color: rgb(114, 114, 114);
	border-bottom: 1px solid rgb(114, 114, 114);
}
.date {
	grid-column: 1 / 3;
	width: 60%;
	text-align: center;
	align-items: center;
	justify-items: center;
}

.form-buttons {
	display: flex;
	justify-content: space-around;
}
.error-text {
	font-size: 1rem;
	display: none;
}

@media (min-width: 390px) {
	.burger-icon {
		width: 45px;
		height: 30px;
	}
	.h-nav {
		img {
			width: 90px;
		}
	}
	.header-text p {
		font-size: 21px;
	}
	.aboutus-coffee-cup-img {
		top: 30%;
	}
}
@media (min-width: 410px) {
	.next-to {
		width: 80%;
	}
	.list .item::after {
		left: 25px;
		width: 255px;
		height: 2px;
	}
	.list {
		background-color: colors.$list-color-desktop;
		left: -100vw;
		min-height: 100vh;
		width: 40vh;
	}
	.active {
		transform: translateX(100vw);
	}
}

@media (min-width: 768px) {
	.social-media {
		display: flex;
		align-items: center;
		width: 50%;
		justify-content: space-around;
		.fa-brands {
			cursor: pointer;
		}
		.fa-twitter {
			color: #00acee;
		}
		.fa-facebook {
			color: #4267b2;
		}
		.fa-instagram {
			color: #b12a86;
		}
	}
	.h-nav {
		height: 6.5vh;
		img {
			padding-top: 15px;
			width: 105px;
			z-index: 50;
		}
		.white-block {
			position: absolute;
			top: 6.5vh;
			height: 20px;
			width: 25%;
			background-color: colors.$white-main;
			bottom: 0;
			right: -50px;
			transform: skew(45deg);
			z-index: -50;
		}
	}
	.list {
		background-color: colors.$list-color-desktop;
		top: 6.5vh;
		left: -100vw;
		min-height: 100vh;
		max-width: 40vh;
	}
	.active {
		transform: translateX(100vw);
	}
	.list .item::after {
		left: 25px;
		width: 255px;
		height: 2px;
	}
	.slides,
	.header-shadow,
	.list {
		height: 100vh;
	}
	.slide1 {
		background-image: url('../img/header1-big.jpg');
	}

	.slide2 {
		background-image: url('../img/header2-big.jpg');
	}

	.slide3 {
		background-image: url('../img/header3-big.jpg');
	}

	.aboutus-coffee-cup-img {
		display: none;
	}
	.aboutus-box {
		flex-direction: column;
		p {
			padding: 15px;
			font-size: 1.1rem;
		}
		.aboutus-img {
			display: block;
			width: 50%;
			border-radius: 18px;
		}
	}
	.aboutus-coffee-cup-img {
		display: none;
	}
	.cards {
		flex-direction: row;
		margin: 0;
		padding: 0;
	}
	.card {
		margin: 40px 0 20px 0;
	}
	.card:nth-child(-n + 2) {
		margin-right: 35px;
	}

	.menu-coffee,
	.menu-hot-drinks,
	.menu-cake,
	.menu-cupcake {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.menu-bar-buttons {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		text-align: center;
		justify-items: center;
		gap: 10px;
	}
	.offer-btn {
		font-size: 1rem;
		padding: 10px;
		width: 80%;
	}

	.menu-box {
		height: 300px;
		padding: 9px 9px 0 9px;
		margin: 15px;
		.menu-box-img {
			height: 75%;
		}

		h4 {
			margin-top: 15px;
			font-size: 1.4rem;
		}
		p {
			font-size: 1rem;
		}
		span {
			font-size: 0.8rem;
		}
	}
}

@media (min-width: 992px) {
	.aboutus-box {
		flex-direction: row;
		p {
			padding: 10px 0 10px 30px;
			font-size: 1.15rem;
		}
		.aboutus-img {
			display: block;
			width: 50%;
			border-radius: 18px;
		}
	}
}
